Name: Keshav Ajith Email: keshav.ajithc@gmail.com Submission Date:8/12/25

In [64]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")
print(len(df))
df.head()

891

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [66]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
import numpy as np

df_processed = df.copy(deep=True)

df_processed['Age'] = df_processed['Age'].fillna(df_processed['Age'].median())

df_processed.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1, inplace=True)

df_processed['Sex'] = df_processed['Sex'].map({'female': 0, 'male': 1})

df_processed = pd.get_dummies(df_processed, columns=['Embarked'])
X = df_processed.drop('Survived', axis=1)
y = df_processed['Survived']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(X_train.head())
print(X_test.head())
print(y_train.head())
print(y_test.head())

     Pclass  Sex   Age  SibSp  Parch     Fare  Embarked_C  Embarked_Q  \
331       1    1  45.5      0      0  28.5000       False       False
733       2    1  23.0      0      0  13.0000       False       False
382       3    1  32.0      0      0   7.9250       False       False
704       3    1  26.0      1      0   7.8542       False       False
813       3    0   6.0      4      2  31.2750       False       False

     Embarked_S
331        True
733        True
382        True
704        True
813        True
     Pclass  Sex   Age  SibSp  Parch     Fare  Embarked_C  Embarked_Q  \
709       3    1  28.0      1      1  15.2458        True       False
439       2    1  31.0      0      0  10.5000       False       False
840       3    1  20.0      0      0   7.9250       False       False
720       2    0   6.0      0      1  33.0000       False       False
39        3    0  14.0      1      0  11.2417        True       False

     Embarked_S
709       False
439        True
840        True
720        True
39        False
331    0
733    0
382    0
704    0
813    0
Name: Survived, dtype: int64
709    1
439    0
840    0
720    1
39     1
Name: Survived, dtype: int64

In [58]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

log_reg_model = LogisticRegression(random_state=42, max_iter= 1000)
dt_model = DecisionTreeClassifier(random_state=42)
rf_model = RandomForestClassifier(random_state=42)


log_reg_model.fit(X_train, y_train);
dt_model.fit(X_train, y_train);
rf_model.fit(X_train, y_train);

In [61]:
from sklearn.metrics import accuracy_score

y_pred_log_reg = log_reg_model.predict(X_test)
y_pred_dt = dt_model.predict(X_test)
y_pred_rf = rf_model.predict(X_test)

accuracy_log_reg = accuracy_score(y_test, y_pred_log_reg)

print("Logistic Regression:")
print(f" The accuracy is {round(accuracy_log_reg * 100, 2)}%")

accuracy_dt = accuracy_score(y_test, y_pred_dt)

print("Decision Tree:")
print(f" The accuracy is {round(accuracy_dt * 100, 2)}%")

accuracy_rf = accuracy_score(y_test, y_pred_rf)

print("Random Forest: ")
print(f" The accuracy is {round(accuracy_rf * 100, 2)}%")

Logistic Regression:
 The accuracy is 81.01%
Decision Tree:
 The accuracy is 78.77%
Random Forest:
 The accuracy is 81.01%

In [45]:
df.to_csv('titanic.csv', index=False)